DATABRICKS_HOST=your_databricks_host_here

DATABRICKS_PAT=your_databricks_token_here

DATABRICKS_SPACE_ID=your_databricks_genie_space_id_here


DATABRICKS_WAREHOUSE_ID = your_databricks_warehouse_id_here

DATABRICKS_JOB_ID_1 = your_databricks_job_id1_here

DATABRICKS_JOB_ID_2 = your_databricks_job_id2_here